body{
    margin: 0;
    padding: 0;

    font-family: Nunito, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: Nunito;
    src: url(/home/dsiu/.cache/.fr-5NVyZK/Nunito-VariableFont_wght.ttf);
}
/* -----Dashboard----- */
.dashboard{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

    height: 100vh;
}

/* -----Sidebar----- */
.sidebar{
    background-color: rgb(137, 200, 255);
    grid-row: 1/4;
}

#sidebarTitle > p{
    font-size:x-large;
}


.menuItem{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.menuItem > img{
    width: auto;
    height: 55%;
    margin-left: 35px;
    align-self: center;
}

.menuItem > p{
    margin: 4% 10% 4% 6%;
    font-weight: bold;
    padding: 10px;
    align-items: start;
}

/* -----Header----- */
.header{
    background-color: rgb(114, 161, 146);
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
}

/* -----Header.Search Bar----- */

.search{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    background-color: beige;
    display: grid;
}

.search > img{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    width: auto;
    height: 36px;
}

.search > input{
    grid-column: 2/3;

    border: 2px solid rgb(104, 104, 104);
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: auto;
    height: 30px;
    align-self: center;
    justify-content: start;
    font-size: 16px;
    margin-right: 6%;
}

/* -----Header.Greeting/ Welcome Mssg----- */
.greeting{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.greeting > img{
    grid-column: 1/2;
    grid-row: 1/3;

    justify-self: center;
    align-self: center;

    border-radius: 50%;
    width: auto;
    height: 80%;
}

.greeting > .welcome{
    grid-column: 2/3;
    grid-row: 1/2;

    font-size:medium;
    margin-bottom: 0;
}

.greeting > .name{
    grid-column: 2/3;
    grid-row: 2/3;

    font-weight: bold;
    font-size: large;

    margin-top: 0;
}

.greeting > p{
    margin: 8px;
    align-self: center;
}

/* -----Header.Profile----- */
.profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
}

.profile > p{
    align-self: center;
    font-weight: bold;
    margin-left: 6%;
    font-size: large;
}

.profile > img{
    justify-self: center;
    align-self: center;
    width: auto;
    height: 36px;
}

/* -----Header.Actions----- */
.actions{
    display: grid;
}

.actions > button{
    justify-self: center;
    align-self: center;

    font-size: large;
    font-weight: bold;
    padding: 10px 12px;
    width: 60%;

    border-radius: 20px;
    background-color: aquamarine;
    color: black;
    border: none;
    min-width: 150px;
}

/* -----Content----- */
.content{
    background-color: rgb(184, 173, 112);
    grid-column: 2/4;
    grid-row: 2/4;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 14px;
}

.contentTitle{
    font-weight: bold;
    font-size: larger;
    margin: 20px 30px 10px 30px;
    height: 30px;
}

.contentSection1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    grid-row: 1/3;
    grid-column: 1/2;
}

.resources{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.cardTitle{
    font-weight: bold;
    font-size: large;
    margin: 10px 0px;
}

.trending{
    grid-row: 2/3;
    grid-column: 2/3;;
}

.card{
    background-color: bisque;
    border: none;
    border-radius: 16px;

    padding: 14px 28px;
    height: 200px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.card > p{
    margin: 10px 0px;
}

.cardIcons{
    justify-self: end;
    align-self: center;
    margin-bottom: 10px;
}

.cardIcons > img{

    height: 36px;
    width: auto;
}
/* -----Content.Announcements----- */
.contentSection2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column: 2/3;
    grid-row: 1/2;

    height: 300px;
}

.resources, 
.announcementCard,
.trendingCard{
    margin: 0px 30px 10px 30px;
}

.announcementCard{
    display: grid;
    grid-template-rows: auto;
    grid-row: 2/3;
    gap: 15px;
    height: 80%;

    background-color: antiquewhite;
    border-radius: 16px;
    padding: 14px 28px;
    overflow: auto;
}

.announcement{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    height: fit-content;

    border-bottom: 1px solid grey;
}

.announcement >p{
    margin-top: 5px;
    max-height: 60px;
    min-width: 218px;
}

.announcement > .announcementTitle{
    margin-bottom: 5px;
    font-weight: bold;
}

/* -----Content.Trending----- */
.contentSection3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-column: 2/3;
    grid-row: 2/3;

    height: max-content;
}

.trendingCard{
    display: grid;
    grid-template-rows: auto;
    grid-row: 2/3;
    gap: 15px;
    height: 80%;

    background-color: antiquewhite;
    border-radius: 16px;
    padding: 14px 28px;
    overflow: auto;
}

.user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.user > img{
    grid-column: 1/2;
    grid-row: 1/3;

    justify-self: center;
    align-self: center;
    width: auto;
    height: 60px;
    border-radius: 50%;
}

.user > .userHandle{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
    font-weight: bold;
}

.user > p{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: flex-start;
}

.user > p{
    margin: 5px;
}

/* -----Footer----- */
.footer{
    background-color: rgb(197, 108, 193);
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr;
}

a{
    text-decoration: none;
    color: black;
}

.footer > p{
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 16px; /* Adjust the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the track */
    border-radius: 16px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 16px; /* Rounded corners of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
  